{
	"semi": true,
	"tabWidth": 2,
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "none",
	"endOfLine": "auto",
	"parser": "typescript",
	"bracketSpacing": true,
	"proseWrap": "preserve",
	"useTabs": true,
	"arrowParens": "always",
	"requirePragma": true,
	"insertPragma": true,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": ".*rc",
			"options": {
				"singleQuote": false,
				"parser": "json"
			}
		}
	]
}
