{
	"semi": true,
	"tabWidth": 2,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "es5",
	"endOfLine": "lf",
	"parser": "typescript",
	"bracketSpacing": true,
	"proseWrap": "preserve",
	"useTabs": true,
	"arrowParens": "always",
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": [
				"*.json",
				"*.md",
				"*.toml",
				"*.yml"
			],
			"options": {
				"useTabs": false
			}
		},
		{
			"files": ".*rc",
			"options": {
				"singleQuote": false,
				"parser": "json"
			}
		}
	]
}